.results__summary {
  --padding: 2.5rem;
  --border-radius-32: 2rem;
  --box-shadow: hsl(224, 30%, 27%, 0.2);
  max-width: 46rem;

  @media (min-width: 37.5em) {
    margin-inline: 1rem;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    box-shadow: 0.5rem 1rem 3rem var(--box-shadow);
    border-radius: var(--border-radius-32);
    background-color: var(--white-clr);

    .results {
      border-radius: inherit;
    }
  }
}

.results {
  --clr-text: 0 0% 100%;
  color: hsl(var(--clr-text) / 0.6);
  text-align: center;
  padding: var(--padding) calc(var(--padding) * 1.5);
  background: linear-gradient(var(--background-1-clr), var(--background-2-clr));
  border-radius: 0 0 var(--border-radius-32) var(--border-radius-32);

  &__score {
    place-content: center;
    width: 12rem;
    margin-inline: auto;
    background: linear-gradient(var(--blue-clr), var(--circle-2-clr));
    aspect-ratio: 1/1;
    border-radius: 50%;

    span {
      display: block;
      font-size: var(--fs-80);
      color: var(--white-clr);
      line-height: 1;
    }
  }

  &__status {
    font-size: var(--fs-28);
    color: var(--white-clr);
  }
}